
/* setting some color values to use throughout */
:root {
    --Dark: #283145;
    --steel-Blue: #3f80b9;
    --light-blue: #aef8f4;
    --malibu-blue: #73c9f8;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0px;
}


body {
    
    Font-size: 24px;
    font-family: 'Aclonica', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--light-blue);
}
/* background image to set a tone before content */
.space {
    height: 200px;
    width: 100%;
    margin-bottom: 1px;
    background-image: url("../images/SPACE\ 3.jpg");
    background-size: cover;
    background-position: center;
}
main {
    background: var(--Dark)
   
}

/* setting the header into a flexbox and setting font and colors fir header */
.header {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    align-items: baseline;
    margin-bottom: 3px;
    padding: 20px;
    font-family: 'Aclonica', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--Dark);
    color: var(--light-blue)
}

.header h1 {
    display: inline-flex;
    font-size: 48px;
}
/* gives a differnt color option for selected text in name */
.header h1 .m {
    color: var(--malibu-blue);
}

.header img {
    display:inline-flex;
    align-items: baseline;
    height: 100px;
    width: 100px;
    border-radius: 75px;
}


nav {
    padding: 15px;
    margin-right: 25px;
    font-family: 'Aclonica', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* all these nav style the various links on the page */
nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-flex;
    justify-content: center;
    flex: wrap;
    margin-left: 25px;
}

nav a {
    color: var(--steel-Blue);
  background: var(--light-blue);
  border-radius: 5px;
  padding: 10px;
}

nav a:visited {
    color: var(--Dark);
}

.contents section {
    margin: none;
    Border-style: solid;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px;
}

section p {
    margin-left: 30px;
}

.work {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 10px;
    
}


/* sets the first work project link to a larger size than the rest */
.main-work {
    max-height: 300px;
    max-width: 300px;
}
/*sets other link works to a smaller size */
.secondary-works {
    max-height: 200px;
    max-width: 200px;
}
/*floats the fig caption over the image slightly */
section figcaption {
    position: relative;
    max-width: 100px;
    margin: -35px 0 5px 0;
    padding: 10px 10px;
    color: var(--steel-Blue);
    background-color: var(--light-blue);
    border-radius: 8px;
    font-size: 12px;
  }

  .contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  footer {
    height: 75px;
    width: 100%;
    margin-top: 3px;
    background-image: linear-gradient(#283145,#3f80b9,#73c9f8,#aef8f4);
    background-size:auto;
    background-position: center;
  }

/* adjusts contents for use on multiple screen sizes */
@media screen and (max-width: 1024px) {
    main,
    nav {
      flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    main,
    nav {
      flex-direction: column;
    }
}